
<% if videos.any? %>
  <div class="row">
    <% videos.each do |video| %>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <%= render 'video', video: video %>
      </div>
    <% end %>
  </div>
  <%= will_paginate videos, renderer: BootstrapPagination::Rails %>
<% else %>
  No videos found.
<% end %>
