<div class="video-box">
  <div class="video-thumbnail">
    <%= image_tag(video.thumbnail, class: 'img-responsive img-rounded') %>
  </div>
  <div class="video-info">
    <h4 class="video-title"><%= video.title %></h4>
    <div class="video-presenter"><%= video.presenter %></div>
  </div>
</div>
