<div class="row">
  <div class="col-sm-6">
    <h1 class="title">
      <%= image_tag('video-icon.png', alt: 'video icon',
        class: 'img-responsive pull-left video-icon') %>
      <span>Videos</span>
    </h1>
  </div>

  <div class="col-sm-6">
    <%= form_tag videos_path, method: 'GET', id: 'search-form', class: 'navbar-form' do %>
      <div class="search-box input-group pull-right">
        <%= search_field_tag :search, params[:search],
          size: 35, maxlength: 50, class: 'form-control', placeholder: 'Search',
          data: { autocomplete: autocomplete_video_title_videos_path } %>
        <div class="input-group-btn">
          <%= button_tag type: 'submit', class: 'btn btn-default' do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
