<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag('logo-gap.png', alt: 'logo-gap', class: 'img-responsive logo') %>
      </div>
    </div>
  </div>
</footer>
