<header class="landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
        <div class="intro-text">
          <span class="title">Welcome to Education <strong>Portal!</strong></span>
          <span class="description">
            Here you will find information and resources to improve your skills and knowledge.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
