// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-header {
  background: url('background.png') no-repeat center center;
  background-size: cover;
  height: 150px;
}

#welcome-header .text1 {
  margin-top: 40px;
}
