html, body {
  height: 100%;
}

div.page {
  min-height: 80%;
}

a {
  color: #0079C2;
  text-decoration: none;
  outline: 0 none;
  &:focus, &:hover, &:active {
    color: #4E9DFF;
    text-decoration: none;
    outline: 0 none;
  }
}

// Alerts
div.alert {
  margin: 0px;
}

// Header
header.nav-header .navbar-brand {
  height: 80px;
}
header.nav-header .nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}
header.nav-header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
header.nav-header .navbar-brand {
  display: flex;
  align-items: center;
}
header.nav-header .navbar-brand > img {
  padding: 7px 14px;
}

// Footer
footer.footer {
  height: 100px;
  color: #FFF;
  background-color: $blue;
  padding: 45px;
  margin-top: 20px;
}

