// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-box {
  margin-bottom: 20px;
  background-color: #EEE;
  padding: 10px;
}

.video-box .video-title {
  height: 42px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.search-box {
  margin-top: 12px;
}
