// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-box {
  margin-bottom: 25px;
  width: 350px;
}

.video-image {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 250px;
  width: 350px;
}

.video-image .video-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.video-image:hover .video-play {
  opacity: 1;
}

.video-image .video-play-button {
  margin: 80px auto;
}

.video-box .video-title {
  height: 42px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.search-box {
  margin: 12px 0px;
}

#video-page .video {
  border: 1px solid #DDD;
}

.video-icon {
  margin-top: 4px;
  margin-right: 10px;
}
